@model shopaoquan.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_new)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_new)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.describe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.brand_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.brand_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subCategory.name_subcate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subCategory.name_subcate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_product }) |
    @Html.ActionLink("Back to List", "Index")
</p>
