@model IEnumerable<shopaoquan.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_user }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_user }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_user })
        </td>
    </tr>
}

</table>
